.footer {
    background-color: #2F324B;
    max-height: 158px;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

.footer__author {
    margin: 3px 0 0 -11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__info {
    display: flex;
    align-items: center;
    gap: 20px;
}


@media (max-width: 1024px) {
    .footer__author {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 700px) {
    .footer__inner {
        padding: 25px 15px;
    }
    .footer__copy {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }
    .footer__author {
        display: none;
    }
    .footer__mobile-author {
        display: block;
        background-color: #2A2C3F;
        padding: 15px 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
}